@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #343434;
  color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}


